body {
  background-color: black;
  color: #4dea31;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#q {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  bottom: 0;
}

header {
  padding: 5px;
  text-align: center;
  z-index: 1;
}

main {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  padding: 5px;
  text-align: center;
  z-index: 1;
}

body a {
  color: #4dea31;
  text-decoration: none;
}

body a:hover {
  color: #BBFF99;
}

nav a {
  color: #4dea31;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  color: #BBFF99;
}

.custom-table {
    border-collapse: separate;
    border-spacing: 30px;
}

